/* Variables for consistent styling */
:root {
  --primary-color: #4fa9cc;
  --secondary-color: #0047AB;
  --hover-color: #003580;
  --text-color: #333;
  --background-color: #f5f5f5;
  --font-family: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  background-color: var(--primary-color);
  padding: 5px; 
  text-align: center;
  color: white;
  font-size: 20px;
}

section {
  margin: 24px auto; /* Reduced margin */
  max-width: 800px;
  background-color: white;
  padding: 16px; /* Reduced padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1, h2, h3 {
  color: var(--text-color);
}

p, ul {
  font-size: 18px;
  line-height: 1.6;
  margin: 20px 0;
}

footer {
  text-align: center;
  padding: 2px;
  background-color: var(--primary-color);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: normal;
}

a {
  color: white;
  text-decoration: none;
  /*font-weight: bold;*/
}

a:hover {
  text-decoration: underline;
}

b {
  color: #333;
  text-decoration: none;
  /*font-weight: bold;*/
}

b:hover {
  text-decoration: underline;
}

.download-btn {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.download-btn:hover {
  background-color: var(--hover-color);
}

/* Carousel Styling */
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 50px; /* Add padding to avoid overlap with footer */
}

.carousel-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.project {
  display: none; /* Hide all projects by default */
  text-align: center;
}

.project.active {
  display: block; /* Show only the active project */
  transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-btn, .right-btn {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.left-btn {
  left: 10px; /* Position at the left corner */
}

.right-btn {
  right: 10px; /* Position at the right corner */
}

.left-btn:hover, .right-btn:hover {
  background-color: var(--hover-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  section {
    margin: 20px;
    padding: 20px;
  }

  .left-btn, .right-btn {
    font-size: 18px;
    padding: 8px;
  }
}